body{
    font-family: 'Montserrat', sans-serif;

}
.f{
    display:flex;
    margin-bottom: 150px;
    background-image: url(images/download.png);
    background-repeat: no-repeat;
    background-position:top;
}
.sk{
    color: red;
}
.diet{
    color: rgba(15, 15, 15, 0.705);
}
.link-button{
    background-color: rgb(228, 25, 59);
    text-decoration: white;
    padding: 10px 40px;
    font-size: 20px;
    color: white;
    border-radius: 10px;
}
.half-width{
    width: 50%;
    padding-left: 5%;
    padding-top: 100px;
}
#pic{
    width: 400px;
    margin-right: -700px;
    margin-top: 30px;
}
.d{
    width: 400px;
}
.A{
    color: rgb(236, 13, 51);
}
.B{
    display:flex;
    margin-bottom: 150px;
    background-image: url(images/shapes/Frame\ 58.jpg);
    background-image: url(images/shapes/7.png);
}
.R{
    text-align: center;
}
#f1{
    width: 200px;
    padding-right: 3%;
}
#f2{
    width: 200px;
    padding-right: 3%;
}
#f3{
    width: 200px;
    padding-right: 3%;
}
.table1{
    box-shadow: 20px 20px 50px gray;
    width: 30%;
    margin-left: 10%;
    margin-right: 10%;
    padding-left: 20px;
    border-radius: 20px;
}
.table2{
    box-shadow: 20px 20px 50px gray;
    width: 30%;
    margin-left: 10%;
    margin-right: 10%;
    padding-left: 20px;
    border-radius: 20px;
}
.table3{
    box-shadow: 20px 20px 50px gray;
    width: 30%;
    margin-left: 10%;
    margin-right: 10%;
    padding-left: 20px;
    border-radius: 20px; 
}
.Rec{
    display:flex;
    margin-bottom: 150px;
    margin-left: 200px; 
    margin-right: 300px;
}
.O{
    margin-left: 3%;
}